/*Main product page*/
main {
    width: 70%;
    margin: 30px auto;
    gap: 20px;
}

main figure {
    padding-inline: 0 2%;
    flex-basis: 60%;
    border-right: 3px solid gray;
}

main figure img {
    width: 100%;
}

main .product-description {
    flex-basis: 40%;
}

main figure img:first-child {
    margin-bottom: 15px;
}

.product-description .banner {
    gap: 5px;
    margin-bottom: 20px;
}

.product-description .banner-red {
    background-color: red;
}

.product-description .banner-green {
    background-color: green;
}

.product-description .banner-red, .product-description .banner-green {
    font-size: 14px;
    padding: 5px 8px;
    color: white;
    font-weight: 500;
    border-radius: 20px;
}

.product-description .product-brand {
    color: gray;
    font-size: 30px;
}

.product-description .product-name {
    font-size: 40px;
}

.product-description p {
    line-height: 160%;
    font-size: 18px;
    margin-bottom: 10px;
}

.card-top .banner-red, .card-top .banner-green {
    font-size: 14px;
    padding: 5px 8px;
    color: white;
    font-weight: 500;
    border-radius: 20px;
}

.product-description .price {
    color: gray;
}

.product-description .current-price {
    color: red;
    font-weight: 500;
    font-size: 40px;
}

.product-description .discount {
    text-decoration: line-through;
    font-size: 20px;
}

.product-description button {
    padding: 10px 20px;
    background-color: #1A1A1A;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
}