@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    font-family: "Roboto", sans-serif;
}

:root {
    --color1: #FF6900;
}

.flex {
    display: flex;
}

/*Header*/
header {
    justify-content: space-between;
    align-items: center;
    padding: 15px 15%;
    background-color: var(--color1);
    color: white;
    position: sticky;
    top: 0;
}

header img {
    display: block;
    height: 40px;
}

header ul {
    gap: 10px;
}

header ul li {
    flex-basis: calc(90% / 3);
}

.header-menu {
    justify-content: space-between;
    align-items: center;
    flex-basis: 5%;
}

.header-menu a {
    flex-basis: calc(90% / 3);
}

.header-menu a svg {
    display: block;
    width: 20px;
    height: 20px;
    fill: white;
}

/*Main*/
main {
    width: 70%;
    margin: 30px auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

main .card {
    flex-basis: calc(98% / 3);
}

.card figure img {
    width: 100%;
}

.card-top .img-after {
    display: none;
}

.card:hover .img-before {
    display: none;
}

.card:hover .img-after {
    display: inline-block;
}

.card-top {
    position: relative;
}

.card-top .hearts {
    position: absolute;
    top: 2%;
    right: 0;
}

.card-top figure {
    width: 40px;
    background-color: white;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.card-top .hearts svg {
    display: block;
}

.card-top .hearts .heart-after {
    display: none;
}

.card-top .hearts:hover .heart-before {
    display: none;
}

.card-top .hearts:hover .heart-after {
    display: block;
    fill: red;
}

.card-top .banner {
    position: absolute;
    left: 1%;
    bottom: 5%;
    gap: 5px;
}

.card-top .banner-red {
    background-color: red;
}

.card-top .banner-green {
    background-color: green;
}

.card-top .banner-red, .card-top .banner-green {
    font-size: 14px;
    padding: 5px 8px;
    color: white;
    font-weight: 500;
    border-radius: 20px;
}

.card-bottom .product-brand, .card-bottom .price {
    color: gray;
    font-size: 14px;
}

.card-bottom .product-name, .card-bottom .current-price {
    font-weight: 500;
}

.card-bottom .current-price {
    color: red;
}

.card-bottom .discount {
    text-decoration: line-through;
}


